
.direction-ltr{
    direction: ltr;
}

.direction-rtl{
    direction: rtl;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: start;
}

.justify-between{
    justify-content: space-between !important;
}

.justify-around{
    justify-content: space-around;
}

.justify-inherit{
    justify-content: inherit;
}

.align-center{
    align-content: center;
}

.item-center{
    align-items: center;
}

.ml-3{
    margin-left: 0.3rem;
}

.ml-5{
    margin-left: 0.5rem;
}

.mr-3{
    margin-right: 0.3rem;
}

.mr-5{
    margin-right: 0.5rem;
}

.mr-10{
    margin-right: 1rem;
}

.mr-15{
    margin-right: 1.5rem;
}
.mt-3{
    margin-top: 0.3rem;
}

.mt-5{
    margin-top: 0.5rem;
}

.mt-10{
    margin-top: 1rem;
}

.mt-15{
    margin-top: 1.5rem;
}
.mt-30{
    margin-top: 3rem;
}
.mt-60{
    margin-top: 6rem;
}

.text-center{
    text-align: center;
}
.p-3{
    padding: .3rem;
}
.p-5{
    padding: .5rem;
}
.p-7{
    padding: .7rem;
}
.p-8{
    padding: .8rem;
}
.p-10{
    padding: 1rem;
}
.p-15{
    padding: 1.5rem;
}
.pb-20{
    padding-bottom: 2rem;
}
.pb-50{
    padding-bottom: 5rem;
}

.bg-white{
    background-color: white;
}

.border-radius-5{
    border-radius: .5rem;
}
.border-radius-3{
    border-radius: .3rem;
}
.border-radius-10{
    border-radius: 1rem;
}
.border-radius-20{
    border-radius: 2rem;
}
.border-radius-30{
    border-radius: 3rem;
}

.text-black{
    color: black;
}
.text-bold{
    font-weight: bolder;
}
.text-5{
    font-size: .5rem;
}
.text-6{
    font-size: .6rem;
}
.text-7{
    font-size: .7rem;
}
.text-8{
    font-size: .8rem !important;
}
.text-85{
    font-size: .85rem !important;
}
.text-9{
    font-size: .9rem;
}
.text-10{
    font-size: .9rem;
}

.bg-primary1{
    background-color: var(--Primary1);
}
.bg-primary2{
    background-color: var(--Primary2);
}

