body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--White-L);
  font-size: 1rem;
  letter-spacing: 1px;
  overflow-x: hidden;
  color: #ececec;
}

:root {
  --Primary1: #3ec0d8;
  --Primary2: #75598d;
  --Primary3: #313773;
  --Gradiant: linear-gradient(90deg, #75598d 0%, #3ec0d8 92.75%);
  --Black: #424351;
  --Body: #474747;
  --Grey: #adadad;
  --Primary1-L: #ebfafd;
  --Primary2-L: #f7f1fc;
  --White-L: #f8f8f8;
  --Secondry-L: #ecedf9;
  --Stroke: #e8e8e8;
  --Grey-L: #f9f9ff;
  --White: #fff;
  --Secondary: #1a2057;
}

body::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #dadde4;
  border-radius: 20px;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', serif !important;
  font-weight: 600  !important;
  text-transform: none !important;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Regular.ttf') format('opentype');
}


@font-face {
  font-family: 'Square';
  src: url('../assets/fonts/EuclidSquare-Medium.woff') format('opentype');
}

input[type='number']::-webkit-clear-button {
  display: none;
}

input[type='number']::-webkit-inner-spin-button {
  width: 20px;
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  overflow: hidden;
}


/*-----------------Dashboard chart style-----------------*/

.apexcharts-legend-text {
  /*@apply !text-body dark:!text-bodydark;*/
  color: black;
}

.apexcharts-text {
  @apply !fill-body dark:!fill-bodydark;
}
.apexcharts-xcrosshairs {
  @apply !fill-stroke dark:!fill-strokedark;
}
.apexcharts-gridline {
  @apply !stroke-stroke dark:!stroke-strokedark;
}
.apexcharts-series.apexcharts-pie-series path {
  @apply dark:!stroke-transparent;
}
.apexcharts-legend-series {
  @apply !inline-flex gap-1.5;
}
.apexcharts-tooltip.apexcharts-theme-light {
  /*@apply dark:!bg-boxdark dark:!border-strokedark;*/
  color: black;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  /*@apply dark:!bg-meta-4 dark:!border-strokedark;*/
  color: black;
}
.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  /*@apply dark:!bg-meta-4 dark:!border-meta-4 dark:!text-bodydark1;*/
  color: black;
}
.apexcharts-xaxistooltip-bottom:after {
  @apply dark:!border-b-meta-4;
}
.apexcharts-xaxistooltip-bottom:before {
  @apply dark:!border-b-meta-4;
}

.active-menu {
  color: var(--Primary1) !important;
}

.chart-item-label {
  width: 10px;
  height: 10px;
}

.menu-title{
  font-size: .9rem !important;
  font-weight: 600 !important;
}

.user-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #9f9ff1;
  color: white;
  border: 3px solid;
  border-radius: 50%;
  overflow: hidden;
}


/*-----------------Dashboard chart style end-----------------*/

@import url('videoTable.css');
@import url('common.css');
/*----------------------Azure style-------------------------*/
