
.not-assigned {
    color: #00000091;
    font-size: .7rem;
}

.status-new {
    color: var(--Primary2);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.875rem; /* 100% */
}

.status-processed {
    color: var(--Primary1);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.875rem; /* 100% */
}

.status-processing {
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.875rem; /* 100% */
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.status-failed {
    color: var(--Grey);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.875rem; /* 100% */
}

.rating {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
}

.rating-none {
    width: 3.375rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    background: #ff774b;
    color: var(--White);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
    padding: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-g {
    color: var(--Primary1);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    text-transform: uppercase;
}

.rating-pg {
    color: var(--Primary2);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    text-transform: uppercase;
}

.rating-pg12 {
    color: var(--Primary2);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    text-transform: uppercase;
}

.rating-pg15 {
    color: var(--Primary2);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    text-transform: uppercase;
}

.rating-r18 {
    color: var(--Primary2);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    text-transform: uppercase;
}

.rating-r15 {
    color: var(--Primary2);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    text-transform: uppercase;
}

.rating-missing {
    color: #f40000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    text-transform: uppercase;
}


.new {
    color: var(--Primary2);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.875rem; /* 100% */
}

.approval {
    border-radius: 0.1875rem;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    color: #00000091;
}


.review {
    color: #ff9432;
    background: #ffe6c9;
    padding: 3px;
    border-radius: 5px;
    min-width: 65px;
    font-size: 11px;
}

.approve {
    color: var(--Primary1);
    background: var(--Primary1-L);
    padding: 3px;
    border-radius: 5px;
    min-width: 65px;
    font-size: 11px;
}

.reject {
    color: #f40000;
    background: #fdebeb;
    padding: 3px;
    border-radius: 5px;
    min-width: 65px;
    font-size: 11px;
}

.pending {
    color: var(--Primary2);
    background: var(--Secondry-L);
    padding: 3px;
    border-radius: 5px;
    min-width: 65px;
    font-size: 11px;
}

.classification-item {
    border: 1px solid;
    height: 1.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.7rem;
    margin-right: 0.5rem;
    stroke-width: 1px;
    stroke: var(--Grey, #adadad);
    filter: drop-shadow(0px 0px 10px #eee);
    width: fit-content;
}

.flagged-scene {
    border-radius: 0.3rem;
    height: 0.5rem;
    width: 5rem;
    background-color: var(--Stroke);
}

.flagged-quarter span {
    background-color: #f40000;
}

.flagged-half span {
    background-color: #ffaf13;
}

.flagged-half-over span {
    background-color: #00c820;
}

.action-more-horiz {
    background-color: unset;
    border: none;
    color: black;
}


.MuiOutlinedInput-input {
    padding: 4px 0 5px !important;
}

.MuiTableCell-root.MuiTableCell-body {
    padding: 12px 7px !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary{
    padding: 7px 10px 0 7px;
}

[dir="rtl"] .MuiTableRow-root > td.MuiTableCell-root:first-of-type {
    border-left: none;
    border-right: 1px solid #ccc;
    border-radius: 0 6px 6px 0;
}

[dir="rtl"] .MuiTableRow-root > td.MuiTableCell-root:first-of-type > p.MuiTypography-root {
    text-align: center;
}

[dir="rtl"] .MuiTableRow-root > td.MuiTableCell-root:last-of-type {
    border-right: none;
    border-left: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
}
[dir="rtl"] .MuiTableBody-root .MuiTableRow-root > th.MuiTableCell-root:first-of-type {
    border-left: none;
    border-right: 1px solid #ccc;
    border-radius: 0 6px 6px 0;
}

[dir="rtl"] .MuiTableBody-root .MuiTableRow-root > th.MuiTableCell-root:last-of-type {
    border-right: none;
    border-left: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
}

[dir="rtl"] .MuiPagination-ul li:first-of-type{
    transform: scaleX(-1);
}
[dir="rtl"] .MuiPagination-ul li:last-of-type{
    transform: scaleX(-1);
}

[dir="rtl"] .MuiDrawer-root .MuiToggleButtonGroup-root{
    padding-right: 2rem;
}
[dir="rtl"] .MuiToggleButtonGroup-root>.MuiButtonBase-root:first-of-type{
    border-radius: 0 4px 4px 0;
}
[dir="rtl"] .MuiToggleButtonGroup-root>.MuiButtonBase-root:last-of-type{
    border-radius: 4px 0 0 4px;
}

[dir="rtl"] .MuiDialog-root .MuiInputBase-root.MuiOutlinedInput-root>div:first-of-type{
    padding-right: 2rem !important;
}


[dir="rtl"] .user-logo+div.MuiBox-root{
    padding-right: 1rem;
    margin-left: 0;
}
[dir="rtl"] .svg-color+p{
    padding-right: .5rem;
}
[dir="rtl"] .MuiStepConnector-root.MuiStepConnector-horizontal{
    left: calc(50% + 20px);
    right: calc(-50% + 20px);
}

[dir="rtl"] .title-drag{
    padding-right: .5rem;
}
[dir="rtl"] .title-drag>div>p{
    padding-right: .5rem;
}

[dir="rtl"] .stepper-state{
    transform: scaleX(-1);
}

[dir="rtl"] .stepper-state-title{
    flex-direction: row-reverse;
}

[dir="rtl"] p{
    text-align: right ;
}

[dir="rtl"] td{
    text-align: right !important;
}

[dir="rtl"] div.MuiFormGroup-root.MuiFormGroup-row{
    justify-content: right;
}
