.status-new {
  color: var(--Primary2);
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.875rem; /* 100% */
}

.status-processed {
  color: var(--Primary1);
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.875rem; /* 100% */
  text-transform: uppercase;
}

.status-failed {
  color: var(--Grey);
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.875rem; /* 100% */
  text-transform: uppercase;
}

.rating-r18 {
  color: var(--Black);
  font-family: Raleway;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.875rem;
  text-transform: uppercase;
}

.rating-missing {
  width: 3.375rem;
  height: 1.125rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: #ff774b;
  color: var(--White);
  font-family: Raleway;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.625rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approval {
  width: 4.375rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Raleway;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.6875rem;
}

.review {
  color: #ff9432;
  background: #ffe6c9;
  padding: 0.3rem;
}

.approve {
  color: var(--Primary1);
  background: var(--Primary1-L);
  padding: 0.5rem;
  border-radius: 8px;
}

.reject {
  color: #f40000;
  background: #fdebeb;
  padding: 0.5rem;
  border-radius: 8px;
}

.pending {
  color: var(--Primary2);
  background: var(--Secondry-L);
  padding: 0.5rem;
  border-radius: 8px;
}

.classification-item {
  border: 1px solid;
  height: 1.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.7rem;
  margin-right: 0.5rem;
  stroke-width: 1px;
  stroke: var(--Grey, #adadad);
  filter: drop-shadow(0px 0px 10px #eee);
}

.flagged-scene {
  border-radius: 0.3rem;
  height: 0.65rem;
  width: 5rem;
  background-color: var(--Stroke);
}

.flagged-quarter span {
  background-color: #f40000;
}

.flagged-half span {
  background-color: #ffaf13;
}

.flagged-half-over span {
  background-color: #00c820;
}

.action-more-horiz {
  background-color: unset;
  border: none;
  color: black;
}
